---
basecamp:
  rss_uri:  http://YOURDOMAIN.projectpath.com/projects/PROJECT_ID/feed/recent_items_rss
  # OR, this is the feed for all of your projects
  # rss_uri: http://crowdvine.basecamphq.com/feed/recent_items_rss
  token:    YOUR_BASECAMP_AUTHENTICATION_TOKEN

campfire:
  domain:   YOUR_DOMAIN_WITHOUT_CAMPFIRENOW_DOT_COM (i.e. your subdomain)
  room:     ROOM_TO_POST_TO
  token:    YOUR_CAMPFIRE_AUTHENTICATION_TOKEN

# Relative to the main script
cache_file: cached_guids.yml
